/* styling for the Carousel that appears on the Home page and the Inspiration page */

.next-arrow{
  position: absolute;
  top:30%;
  right: 25%;
  width: 10%;
}

.prev-arrow{
  position: absolute;
  top:30%;
  left: 25%;
  width: 10%;
}

.next-arrow-bottom{
  top: 30%;
}

.prev-arrow-bottom{
  top: 30%;
}

.top-image-carousel{
  width: 20%;
}

.bottom-image-carousel{
  width: 25%
}

.top-carousel-card{
  height: 100%;
}

.bottom-carousel-card{
  height: 500px;
}

/* media query for mobile responsiveness for the carousel on the home page */

@media screen and (max-width: 450px) {
  .next-arrow{
    position: absolute;
    top: 90%;
    width: 25%;
    right: 10px;
  }
  
  .prev-arrow{
    position: absolute;
    top: 90%;
    width: 25%;
    left: 10px;
  }

  .next-arrow-bottom{
    top: 10%;
    right: 10px;
  }

  .prev-arrow-bottom{
    top: 10%;
    left: 10px;
  }

  .top-carousel-card{
    height: 300px;
  }

  .bottom-carousel-card{
    height: 450px;
  }

  .top-image-carousel{
    width: 75%;
  }

  .bottom-image-carousel{
    width: 90%;
  }
}